.container__menu-title {
  color: #fff;
}

.container__menu-title > h1 {
  margin: 1.5rem 0;
  font-size: 20rem;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.container__menu-title > hr {
  margin: 2rem 0 0.5rem 0;
}
