<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://placehold.co/400x200"
      cardTitle="NOVO HOMEM DE FERRO EM 3D"
      cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod."
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      photoCover="https://placehold.co/400x200"
      cardTitle="Nova Série anunciada no Disney +"
    ></app-small-card>

    <app-small-card
      photoCover="https://placehold.co/400x200"
      cardTitle="Novo filme do Guardiões da Galáxia"
    ></app-small-card>

    <app-small-card
      photoCover="https://placehold.co/400x200"
      cardTitle="Novo filme do Homem Aranha em produção"
    ></app-small-card>
  </div>
</div>
